<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AutoserviceDb"
				 connectionString="Data Source=DESKTOP-ALEXNDR;Initial Catalog=Autoservice;Integrated Security=True;"
				 providerName="System.Data.SqlClient" />
		
		<!--DESKTOP-ALEXNDR-->
		<!--ALEXANDERLENOVO-->
	</connectionStrings>
	
</configuration>
